extends layout.jade

// TODO: use the better template from the hackathon
block content
  div#example-grid    
    div.row(style='font-family:Comic Sans MS;font-size:150%')
            div.four.columns
                | Name
            div.four.columns
                | Type
    each item in events  
        div.row
            div.four.columns
                a(href='/view/event/'+item.id)
                    = item.repo['name']
            div.four.columns
                = item.type

